h1 {
    font-size: 35px;
    color: black;
    background: yellowgreen;
    background-size: cover;
    font-family: fantasy;
    text-align: center;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white;
    color: black;
    text-align: center;
  }
  
h2 {
    background: black;
    border-style: double;
    border-width: 5px;
    color: yellowgreen;
    
  }

#computerPick {
   color: blue; 
  }

/* will change look of buttons */
  
#Rock {
    background: white;
    border: none;
    height: 300px;
    width:300px;
  }
#Paper {
    background: none;
    border: none;
    height: 300px;
    width: 300px;
  }
#Scissors {
    background: transparent;
    border: none;
    height: 300px;
    width: 300px;
  }

#Rock:hover{
  background-color: green;
}

#Paper:hover{
  background-color: green;
}

#Scissors:hover{
  background-color: green;
}

  